<section class="no-padding" id="the-team">
  <div class="container">
    <!-- Vice Chair Section -->
    <section id="vice-chair">
      <div class="row no-gutter">
        <div class="col-md-6 col-sm-12 candidate-column">
          <a href="#" class="portfolio-box">
            <img
              src="img/candidates/michelle-bio.jpg"
              class="img-responsive chair-image candidate-bio-image"
              alt="Michelle directs the strike picket in front of the New York Times building, holding a megaphone and shouting. She is wearing a red shirt, red lipstick, red dyed hair, and a large cardboard sandwich board in the shape of the 'Wide Guild' logo."
            />
          </a>
        </div>
        <div class="col-md-6 col-sm-12 candidate-column">
          <div class="service-box">
            <h3>Michelle Esposito for Vice Chair</h3>
            <h4 class="engineer-title">Program Manager 2</h4>
            <p class="text-muted"></p>
          </div>
        </div>
      </div>
    </section>

    <!-- Secretary Section -->
    <section id="secretary">
      <div class="row no-gutter">
        <div class="col-md-6 col-sm-12 candidate-column">
          <a href="#" class="portfolio-box">
            <img
              src="img/candidates/vicki-bio.jpg"
              class="img-responsive chair-image candidate-bio-image"
              alt="Vicki has bright pink hair pulled back under purple headphones and is wearing a red shirt with the NewsGuild logo. She stands, smiling, in a cluttered home office, holding a very cute fluffy gray kitten."
            />
          </a>
        </div>
        <div class="col-md-6 col-sm-12 candidate-column">
          <div class="service-box">
            <h3>Vicki Crosson for Secretary</h3>
            <h4 class="engineer-title">
              Sr Engineer in DevP - Remote from Boston
            </h4>

            <p>
              I've been a union organizer since 2019, going back to the olden
              days when it was a secret! With experience as a shop steward, the
              current unit secretary, a member of the past bargaining committee,
              coordinator of strike fund relief, and an officer at our Local
              (NYGuild), I've seen all sides of building our power (and learned
              a lot along the way!) I'm running for unit secretary again to
              ensure that every member's voice is heard.
            </p>

            <p>My priorities include:</p>
            <ul>
              <li>
                Empowering members to get involved, in whatever way you can
              </li>
              <li>Seeking your input, to drive our actions</li>
              <li>
                Keeping resources organized and available to anyone who needs
                them
              </li>
              <li>
                Making sure <em>you</em> find community in <em>your union!</em>
              </li>
            </ul>

            <p>
              Outside of our unit, I'm active with my town's Disability
              Commission, served as NewsGuild representative to the CWA
              Accessibility Working group, and speak about the intersection of
              disability justice and labor whenever I can. I enjoy quilting, and
              I have 2 cats: Roger Roger & Maz (pictured).
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
