<section class="no-padding" id="the-team">
    <div class="container">

        <!-- Vice Chair Section -->
        <section id="vice-chair">
            <div class="row no-gutter">
                <div class="col-md-12 candidate-column">
                    <div class="service-box">
                        <img src="img/candidates/michelle-bio.jpg" class="img-responsive chair-image candidate-bio-image vice-chair-image" alt="Michelle directs the strike picket in front of the New York Times building, holding a megaphone and shouting. She is wearing a red shirt, red lipstick, red dyed hair, and a large cardboard sandwich board in the shape of the 'Wide Guild' logo." />

                        <h3>Michelle Esposito for Vice Chair</h3>
                        <h4 class="engineer-title">Program Manager 2, Platforms Pillar</h4>

                        <p>
                            I became a shop steward in April 2022 and a "steward little" since early
                            2021. I now belong to several volunteer committees including the Member
                            Data, Union Onboarding, and Stewards Network Overhaul working groups.
                        </p>

                        <p>
                            My project management skills; the organizing of people and teams toward a common
                            goal, are basically directly transferable to union organizing. This is why I
                            enjoy this work so much - it is essentially my career and life's work.
                        </p>

                        <p>
                            My crowning organizing achievement to date was coordinating with stewards
                            across our unit to empower members and collect a supermajority of signatures
                            on our Strike Authorization Vote Pledge. This enabled us to schedule a vote
                            with an confidently strong outcome. I knew a strong vote in favor to strike
                            (95%) would finally get us a compensation counter from management and it did.
                        </p>
                        <p>
                            I've also led several successful actions, notably organizing team leads of
                            Elections Readiness critical teams to use union-supportive backgrounds for
                            the August Stress Test.
                        </p>

                        <p>My priorities include:</p>
                        <ul>
                            <li> Mobilizing and keeping the stewards' network accountable to our members
                                and strong in our support of members </li>
                            <li> Organizing and processing member data to keep an accurate pulse on the
                                strength of our unit </li>
                            <li> Onboarding and welcoming new members, empowering them to participate
                                in our union! </li>
                        </ul>

                        <p>
                            In addition to organizing for our unit I also volunteer on my building's co-op
                            board and I mentor a young student in college. My other hobbies and personal
                            interests include playing cards with friends, pub trivia, karaoke, horror movies,
                            dancing, fishing, scuba diving, and skiing. I also enjoy traveling and have aimed
                            to visit one new country per year. This year was Japan, next year I don't know yet.
                            Open to suggestions!
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Secretary Section -->
        <section id="secretary">
            <div class="row no-gutter">
                <div class="col-md-12 candidate-column">
                    <div class="service-box">
                        <img src="img/candidates/vicki-bio.jpg" class="img-responsive chair-image candidate-bio-image secretary-image vicki-bio-image" alt="Vicki has bright pink hair pulled back under purple headphones and is wearing a red shirt with the NewsGuild logo. She stands, smiling, in a cluttered home office, holding a very cute fluffy gray kitten." />

                        <h3>Vicki Crosson for Secretary</h3>
                        <h4 class="engineer-title">Sr Engineer in DevP - Remote from Boston</h4>

                        <p>
                            I've been a union organizer since 2019, going back to the olden days
                            when it was a secret! With experience as a shop steward, the
                            current unit secretary, a member of the past bargaining committee,
                            and an officer at our Local (NYGuild), I've seen all sides of
                            building our power (and learned a lot along the way!) I'm running
                            for unit secretary again to ensure that every member's voice is
                            heard.
                        </p>

                        <p>My priorities include:</p>
                        <ul>
                            <li>
                                Empowering members to get involved, in whatever way you can
                            </li>
                            <li>
                                Seeking your input, to drive our actions
                            </li>
                            <li>
                                Keeping resources organized and available to anyone who needs them
                            </li>
                            <li>
                                Making sure <em>you</em> find community in <em>your union!</em>
                            </li>
                        </ul>

                        <p>
                            Outside of our unit, I'm active with my town's Disability
                            Commission, served as NewsGuild representative to the CWA
                            Accessibility Working group, and speak about the intersection of
                            disability justice and labor whenever I can. I enjoy quilting,
                            and I have 2 cats: Roger Roger & Maz (pictured).
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>