<!-- Header Section -->
<section id="unit-chair-header" class="no-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center chair-header">
                <h2 class="section-heading">Timothy Kurtz - A Unit Chair for All</h2>
                <hr class="primary" />
            </div>
        </div>
    </div>
</section>

<!-- Union Vision Section -->
<section id="unit-chair-vision" class="no-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="union-vision-section">
                    <p class="text-muted union-vision-text">
                        Our union is at a crossroads. We've built strength, won important
                        protections in our first contract, and pushed back when management
                        tried to divide us. But we need to grow stronger to enforce our
                        contract and that means changing how we operate, how we organize,
                        and how we lead.
                    </p>
                    <p class="text-muted union-vision-text">
                        I'm running for Unit Chair of the Times Tech Guild to transform our union into one that truly represents and defends our rank and file. Michelle, Vicki, and I believe our union should be a place where <strong>all members, even those who are not organizers</strong>, feel included, empowered, and protected.
                    </p>
                    <p class="text-muted union-vision-text">We have worked tirelessly for years to bring our workplace together and fight for a stronger, safer, more inclusive workplace. We've led working groups, trained stewards, onboarded new members, and sat at the bargaining table to make things better for everyone.</p>
                    <p class="text-muted union-vision-text">We have proven that we care about our fellow members by showing up for them every day. We aren't stopping now.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Who Am I Section -->
<section id="unit-chair-bio" class="no-padding">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-md-12 candidate-column">
                <div class="service-box">
                    <hr class="primary experience-section-divider" />
                    <h3 class="text-center experience-section-header">Who Am I?</h3>

                    <img src="img/candidates/tim-bio.jpg" class="img-responsive chair-image candidate-bio-image unit-chair-image" alt="Tim stands in front of the New York Times building holding a stack of fliers titled 'New York Times Tech Workers are Ready To Strike.' He is smiling, wearing glasses, a red shirt and a jacket, and holding an n-95. The photo is cropped from a larger group shot of coworkers with fliers." />

                    <p class="text-muted">
                        I became a steward in September 2022, only three months after
                        joining The Times. Back then, I was learning my job and how to
                        organize at the same time (I'm a notorious multitasker, lol). I
                        started organizing my own team and later became the lead steward
                        for Digital Ads and Engineering in Data Platforms and Growth. If
                        you’re in those missions, I can guarantee I've checked in on you,
                        either personally or through your steward.
                    </p>
                    <p class="text-muted">
                        When bargaining started for our first contract, I made the
                        decision to join several article committees to ensure my members’
                        priorities were represented. When management unlawfully
                        threatened to enforce discipline over RTO during our contract
                        campaign, I worked to plan our first ULP strike on Halloween
                        2023. Soon after, I became a co-lead of our Contract Action Team,
                        organizing collective actions to move us to a contract. I quickly
                        put that experience to work in my steward responsibilities,
                        organizing smaller team-based actions to protect members. During
                        our strike, I mobilized 100% of Digital Ads to withhold their
                        labor, with many taking leadership positions on the picket lines
                        (both digital and in person). Members fight alongside me because
                        they know I will always fight for them.
                    </p>
                    <p class="text-muted">
                        Since our strike, I've continued fighting for members, even
                        escalating certain cases directly to our CTO and CEO when members
                        were being forced out. Currently, I serve on our Remote Work
                        Contract Committee assisting members applying for remote work,
                        and advocating for them in appeals and arbitration.
                    </p>
                    <p class="text-muted">
                        Outside of organizing, I'm a devoted fan of Paradox Interactive,
                        board games, Magic: The Gathering (ask me about my Lightning Bolts)
                        and, most importantly, my wife Maria.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Platform Section -->
<section id="unit-chair-platform" class="no-padding">
    <div class="container">
        <!-- Full Width Platform Details -->
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <hr class="primary" />
                <h3 class="text-center" style="margin-bottom: 25px">
                    Here's what I'll bring to our leadership
                </h3>

                <div class="accordion-header" onclick="toggleAccordion(this)">
                    <h4><strong>Stronger Defense for Members and Our Contract</strong></h4>
                </div>
                <div class="accordion-content">
                    <p class="text-muted">
                        My priority has always been defending members when management
                        mistreats them. Even before we had a contract, I would organize
                        teams to protect coworkers from management’s worst decisions, but
                        without guaranteed job protections, the strength of those
                        strategies were limited. Now with the Just Cause protections,
                        contract committees, and grievance provisions provided by our
                        contract, we have powerful new tools to challenge management when
                        they mistreat members. As Unit Chair, I plan to use my experience
                        enforcing our contract and organizing teams to build a union capable
                        of resisting management on multiple fronts. You’ll never doubt
                        whether your union will have your back.
                    </p>
                    <p class="text-muted">
                        We also need a leader who will block management’s attempts to weaken
                        our contract. In just our first year under contract, we’ve seen
                        their attempts to clawback benefits and erode our rights by
                        reinterpreting layoff protections or circumventing our contract
                        committee processes. As Unit Chair, I will be relentless when
                        pursuing grievances on your behalf, and even in settlements, will
                        make things as expensive as possible for management. So they think
                        twice before violating our contract again.
                    </p>
                </div>

                <div class="accordion-header" onclick="toggleAccordion(this)">
                    <h4><strong>A Steward Network to Empower Members</strong></h4>
                </div>
                <div class="accordion-content">
                    <p class="text-muted">
                        Your Steward shouldn't feel like a second boss, they should be your
                        advocates, educators, and organizers. Every member deserves that
                        support, not just those fortunate enough to be in particular
                        missions or functions where there happen to be more volunteers.
                        Since we won our contract, I have already begun working to
                        revitalize and rebuild our steward network to be consistent,
                        responsive, and accountable. This is how we will build community
                        and enforce our contract everywhere across our unit.
                    </p>
                    <p class="text-muted">
                        I remember what it felt like to be a newly engaged member, eager
                        to help but having to figure out for myself how best to
                        meaningfully contribute. I even remember the first time as a
                        steward where concerns I had for members of my team were pushed
                        aside by those with louder voices who viewed the issue as "too
                        small". As Unit Chair, I intend to put great effort into ensuring
                        that any member, no matter how new, feels welcome in our
                        organizing spaces, and that stewards are always supported in
                        advocating for the concerns of teams and individual members.
                    </p>
                </div>

                <div class="accordion-header" onclick="toggleAccordion(this)">
                    <h4><strong>Open Communication</strong></h4>
                </div>
                <div class="accordion-content">
                    <p class="text-muted">
                        As a former lead steward, I saw how gaps in communication
                        weakened us. Decisions didn’t always flow clearly between our
                        bargaining committee, stewards, and members. As your Unit Chair,
                        I will make it a top priority to communicate clearly and
                        regularly with stewards and members about our decisions, our
                        goals, and our strategy. You shouldn’t have to know someone on
                        the inside to get help or start participating, and organizers
                        shouldn’t be left guessing at our plans. Opaque decisions and
                        poor communication erodes trust and creates misalignment, which
                        weakens participation and makes it harder to push back against
                        management.
                    </p>
                    <p class="text-muted">
                        Communication must also be two-way. We win only when we fight
                        for what members care about and our future actions and contract
                        campaigns must be rooted in members real priorities: better
                        compensation, stronger job protections, more time back, and
                        fairer benefits. Stewards being surprised by member priorities
                        during a contract campaign costs us wins and weakens our
                        credibility, as does choosing a bargaining committee without
                        the input of our rank and file. As unit chair, your priorities
                        will be mine as well.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Experience Section -->
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <hr class="primary experience-section-divider" />
            <h3 class="text-center experience-section-header">
                Here's what I've already done, and what I'll keep building on:
            </h3>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 experience-card">
                    <!-- <h4><i class="fa fa-users text-primary"></i> Transparency and Communication</h4> -->
                    <p class="text-muted">
                        Protected members from discipline, and helped members win
                        substantial settlements from management both with and without
                        a contract
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 experience-card">
                    <p class="text-muted">
                        Recruited, trained, and supported aspiring stewards and new
                        organizers
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-3 col-sm-12 experience-card experience-card-last">
                    <!-- <h4><i class="fa fa-cogs text-primary"></i> Member-Led Bargaining</h4> -->
                    <p class="text-muted">
                        Pushed for greater accountability and structure in steward
                        work and built the team-based stewardship model we need to
                        mobilize members and win
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-3 col-sm-12 experience-card experience-card-last">
                    <!-- <h4><i class="fa fa-cogs text-primary"></i> Member-Led Bargaining</h4> -->
                    <p class="text-muted">
                        Mobilized entire teams and missions to take action to defend
                        members and win our contract
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Future Goals Section -->
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <hr class="primary experience-section-divider" />
            <h3 class="text-center experience-section-header">
                Here's where we're going next, together:
            </h3>

            <div class="text-center">
                <ul class="text-muted future-goals-list">
                    <li>
                        <strong>A contract enforcement strategy</strong> that protects every
                        member and prevents management from exploiting gaps in our coverage,
                        or interpreting away members’ rights
                    </li>
                    <li>
                        <strong>A stronger steward network</strong> that ensures no unit
                        member is left behind, no matter where they work or what their issue
                        is
                    </li>
                    <li>
                        <strong>Transparent communication, and member led priorities</strong>,
                        so that we can stay moving forward together toward goals that members
                        actually need
                    </li>
                    <li>
                        <strong>Coalition-building</strong> across our union and beyond to
                        win uncontested inclusion of our members in Design, The Athletic,
                        Wirecutter, and elsewhere in the company. We will reject
                        management’s attempts to silo us and cut off the avenues they use
                        to displace our work: deceptive job titles, shuffing departments,
                        or contracting out of our unit.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div style="padding-bottom: 50px"></div>

    <script>
        function toggleAccordion(header) {
            const content = header.nextElementSibling;
            const isExpanded = content.classList.contains("expanded");

            if (isExpanded) {
                content.classList.remove("expanded");
                header.classList.remove("expanded");
            } else {
                content.classList.add("expanded");
                header.classList.add("expanded");
            }
        }
    </script>
    </div>
</section>
