<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Meet the Slate!</h2>
                <hr class="primary">

                <p class="contact-intro">Come hang out with us at our next <strong>Meet the Slate</strong> event! We'll be discussing our platform, sharing our plans, and answering your questions.</p>

                <div class="event-details">
                    <div class="event-date">
                        <h4>Tuesday, September 23 at 5:30 pm ET</h4>
                    </div>
                </div>

                <div class="location-options">
                    <div class="options-container">
                        <div class="location-option">
                            <h5>🏢 In-Person</h5>
                            <p>Meet Tim & Michelle in Bryant Park<br>(near 6th and 40th)</p>
                            <p><strong>WATCH THIS PAGE!</strong> If it's raining, we might update the location.</p>
                        </div>
                        <div class="location-option">
                            <h5>💻 Virtual</h5>
                            <p>Meet Vicki on <a href="http://meet.google.com/doy-sgvs-chf">Google Meet</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="primary">

            <div class="email-button-container">
                <a href="mailto:your.union.for.you@gmail.com">
                    <img src="img/envelope-icon.png" class="email-icon" alt="Send email to your.union.for.you@gmail.com" />
                    <p>your.union.for.you@gmail.com</p>
                </a>
            </div>
        </div>

    </div>
</section>