<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hit us up!</h2>
                <hr class="primary">
                <p>Let us know if you have any questions or concerns, or come hang out with us at our first <strong>Meet the Slate</strong> event!</p><br>
                <p><strong>Join us <a href="meet.google.com/mjc-yukv-hcn">on Google Meet</a>Thursday, August 28th at 11:30 am</strong></p>
                <p><strong></strong></p>
                <p>(and stay tuned for an IRL meet up!)</p>
            </div>
                <div class="email-button-container">
                    <a href="mailto:your.union.for.you@gmail.com">
                        <img src="img/envelope-icon.png" class="email-icon" alt="Send email to your.union.for.you@gmail.com" />
                        <p>your.union.for.you@gmail.com</p>
                    </a>
                </div>
            </div>

        </div>
</section>