<section id="endorsements">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <hr class="primary">
                <h2 class="section-heading">Endorsements</h2>
            </div>
        </div>

        <!-- Pair 1 -->
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center">
                <div class="service-box">
                    <img src="img/candidates/placeholder-face.jpg" class="endorsement-avatar" alt="John Smith" />
                    <h3>John Smith, Principal Engineer</h3>
                    <p class="text-muted">They made this cool site even though they're not front-end devs! You should be really proud of them but also feel free to give feedback because this was very hard..</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 text-center">
                <div class="service-box">
                    <img src="img/candidates/placeholder-face.jpg" class="endorsement-avatar" alt="Ida Noh" />
                    <h3>Ida Noh, Designer, The Athletic</h3>
                    <p class="text-muted">Third base!</p>
                </div>
            </div>
        </div>

        <!-- Pair 2 -->
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center">
                <div class="service-box">
                    <img src="img/candidates/placeholder-face.jpg" class="endorsement-avatar" alt="Spiders Georg" />
                    <h3>Spiders Georg, Data Analyst</h3>
                    <p class="text-muted">They promised me spiders!</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 text-center">
                <div class="service-box">
                    <img src="img/candidates/placeholder-face.jpg" class="endorsement-avatar" alt="Dewey, Cheetham, & Howe" />
                    <h3>Dewey, Cheetham, & Howe</h3>
                    <p class="text-muted">Don't code like my brother.</p>
                </div>
            </div>
        </div>
    </div>
</section>