<section id="vote">
    <aside class="bg-dark">
        <div class="container">
            <div class="call-to-action text-center">
                <h2>Important Voting Dates</h2>
                <p class="voting-intro">Mark your calendar and make your voice heard!</p>

                <div class="events">
                    <div class="event">
                        <div class="marker"></div>
                        <div class="content">
                            <time>September 15</time>
                            <p>Ballots mailed to members – voting begins!</p>
                        </div>
                    </div>

                    <div class="event">
                        <div class="marker"></div>
                        <div class="content">
                            <time>September 22</time>
                            <p>Request a duplicate ballot if you haven't gotten one yet!</p>
                        </div>
                    </div>

                    <div class="event important">
                        <div class="marker"></div>
                        <div class="content">
                            <time>October 2</time>
                            <p>Deadline to request a duplicate ballot</p>
                        </div>
                    </div>

                    <div class="event">
                        <div class="marker"></div>
                        <div class="content">
                            <time>October 17 – 4 PM</time>
                            <p>Ballot deadline: your ballot must be returned for counting</p>
                        </div>
                    </div>

                    <div class="event important">
                        <div class="marker"></div>
                        <div class="content">
                            <time>October 18</time>
                            <p>Ballots will be counted</p>
                        </div>
                    </div>


                    <div class="event">
                        <div class="marker"></div>
                        <div class="content">
                            <time>November 1</time>
                            <p>New officers & unit councilmembers begin their terms</p>
                        </div>
                    </div>

                </div>

                <hr class="primary">

                <h2>Take your time – don't vote by slate!</h2>

                <div class="voting-button-section">
                    <a href="https://docs.google.com/document/d/1tPNvnVsR9nvlNQ0QweOJNutP-VNXTkWzI9oEP_fmjGs" class="btn btn-default btn-xl">Learn about the ballot here</a>
                </div>
            </div>
    </aside>
</section>
